<header class="bg-transparent ">
    <div class="container flex items-center justify-between px-6 py-4 mx-auto">
      <h1 class="text-2xl font-bold text-yellow-500">Sertify</h1>
      <nav class="flex space-x-6">
        <a href="/" class="text-gray-600 nav-link hover:text-yellow-500">Home</a>
        <a href="/listWebinar" class="text-gray-600 nav-link hover:text-yellow-500">Webinar</a>
        <a href="/certification" class="text-gray-600 nav-link hover:text-yellow-500">Certification</a>
        <a href="/createWebinar" class="text-gray-600 nav-link hover:text-yellow-500">Publikasikan</a>
        <a href="/support" class="text-gray-600 nav-link hover:text-yellow-500">Support</a>
      </nav>
    </div>
  </header>
  